@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Inter'
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        background-color: #0F1015; /* Your desired background color */
    margin: 0; /* Optional: to remove default margin */
    height: 100vh; /* Optional: to ensure full height */
}

.swal2-popup {
    background-color: #28313E; /* Background color for the SweetAlert */
    color: white; /* Text color */
    border: '1px solid #434B56';
}

.swal2-title {
    color: white; /* Title color */
}


/* Style for the select input button in SweetAlert2 */
.swal2-select {
    background-color: #1F2937; /* Dark background for the select button */
    color: white;              /* White text for the select button */
    border: 1px solid #434B56; /* Dark border */
    padding: 8px 12px;         /* Padding to make it more clickable */
    font-size: 16px;           /* Adjust font size */
    border-radius: 4px;        /* Rounded corners */
}

.swal2-select:hover {
    background-color: #2D3748; /* Slightly lighter background on hover */
}

/* Option styling for the dropdown */
.swal2-custom-select option {
    background-color: #1C1C1C; /* Dark background */
    color: white;               /* White text */
    border: none;
}

/* Optional: style for the dropdown arrow inside the select */
.swal2-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(56, 185, 255, 0.5); /* Focus border color */
}




.swal2-executor {
    background-color: #1C1C1C;
    border: #424242 1px solid;
    width: 75%;
    height: 90%;
    max-height: 2500px;
}